.form-section {
    background-color: white;
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 20px; 
    width: 35%; 
    max-width: 500px; 
}

.form-title {
    margin-bottom: 10px; 
    font-weight: bold;
}

.form-input-container {
    display: flex;
}

input[type="search"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-right: 10px;
    transition: border-color 0.3s; 
}

input[type="search"]:focus {
    border-color: #007BFF; 
}

.add-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; 
    align-items: center; 
}

.add-button:hover {
    background-color: #0056b3; 
}

.add-button i {
    margin-right: 5px;
}
