.task-item {
    padding: 5px; /* Отступы внутри задачи */
    border-radius: 5px; /* Скругление углов */
    background-color: white; /* Белый фон для каждой задачи */
    color: #333; /* Цвет текста задачи */
    font-size: 14px; /* Установим размер шрифта для задачи */
}